*{  
    padding: 0%;
    margin: 0%;
    border: 0%;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Prata&family=Quicksand:wght@300;400;700&display=swap');




/* estilos generales */
#logo-oculto{
    display: none;
}

header > nav.navbar.navbar-light.fixed-top{
    display:none;
}

h1{
    font-family: 'Prata', serif;
    font-size: 57pt;
    color: #666666;
}

h2, h3, h4, li, p{
    font-family: 'Quicksand', sans-serif;
    color: #666666;
}

body{
    height: 100%;
}

html{
    width: 100%;
    height: 100%;
    margin: 0;
    max-width: 1920px;
    font-size: 100%;
    scroll-behavior: smooth;
}

div{
    width: 100%;
    height: auto;
}

/* INDEX */

/* header */

header{
    width: 100vw;
    padding: 3rem;
    margin: auto;
    padding-bottom: 1.5rem;
}

nav.clasico{
    display: flex;
    justify-content:space-between;
    max-width: 80vw;
    margin: auto;
}
nav.clasico ul{
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
}

nav.clasico .logo{
    max-width: 25%;
    height: 100%;
    padding: 0px;
}

.logo a img{
    width: 90%;
}

nav.clasico ul li{
    display: inline;
}

nav.clasico li a{
    text-decoration: none;
    color: #666666;
    font-weight: 400;
    font-size: 2rem;
}

nav.clasico li a:hover{
    color: #abad80;
    transition: .2s;
    scroll-behavior: smooth;
}
nav.clasico ul li .link-activo{
    color: #663366;
    font-weight: bold;
    cursor: auto;
}

/* fin header */

/* comienzo de portada */

.portada{
    width: 100vw;
    max-height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    position: relative;

}
.portada > .contenedor_img_portada{
    border:23px solid #FFF;
    background-color: none;
    width: 85vw;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.contenedor_img_portada > .img_portada{
    border: none;
    background-color: none;
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

.portada > h3{
    position:absolute;
    z-index: 1;
    font-size: 2rem;
    margin-top: 190px;
    font-weight: 400;
    letter-spacing: 1px;
    animation-duration: 2s;
    animation-name: slidein;      
}

@keyframes slidein {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }


/* fin imagen de portada, comienzo de main */

.contenedor_main {
    background-color: #666666;
    margin-top: -30vh;
    width: 100vw;
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 45vh;
    padding-bottom: 13vh;
}

.contenedor_main > .section_main{
    position: relative;
    width: 35vw;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    /* padding: 6%; */
    margin: 6%;
    align-items:center;
}

.contenedor_main > .section_main img{
    width: 45rem;
    height: 45rem;
}

main > .section_main img:hover{
    opacity: .5;
    transition: .5s;
    scroll-behavior: smooth;
}

main .section_main h2{
    position: absolute;
    bottom: -12%;
    left: 0%;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 200;
    color: #e3e3cd;
}

main section.section_main a{
    position: absolute;
    font-size: 1.5rem;
    text-decoration: none;
    border: 1px solid #e3e3cd;
    padding: .3rem .9rem;
    right:0;
    bottom: -12%;
    color: #e3e3cd;
    
}
section.section_main a:hover{
    background-color:#e3e3cd;
    color: #333333;
    font-weight: bold;
    transition: .7s;
}

.mas_servicios{
    position: static;
    padding-top: 10em;
    height: 5em;
    text-align: center;
}

.mas_servicios a{
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    border: 1px solid #e3e3cd;
    background-color: #e3e3cd;
    padding: .8rem;
    text-decoration: none;
    cursor: pointer;
    color: #666666;
}

.mas_servicios a:hover{
    background-color: #666666 ;
    color: #e3e3cd;
    font-weight: 400;
    transition: .7s;
}

/* pasador de imagenes PROMOS */

#promo_slider{
    margin: 6rem 10%;
    position:relative;
    width: 80vw;
    height: 47.6rem;
    box-shadow: -10px 10px 30px 5px #33333325;    
}

#promo_slider ul{
    position: relative;
    display:flex;
    justify-content: center;
    width: 80vw;
    height: 47.6rem;
    margin: 0;
    padding: 0;
}
#promo_slider > ul.slider li{
    margin: 0;
    padding: 0;
    list-style: none; 
    position: absolute;
    right: 0;
    top:0;
    width: 80vw;
    height: 47.6rem;
    opacity: 0;
    transition: .5s;
    z-index: 1;
    scroll-behavior: smooth;
    background-color:#FFF;
    overflow: hidden;
}

#promo_slider > ul.slider li h2{
    font-family: 'Prata', serif;
    position: absolute;
    padding: 6vh 0 1vh 7vw;
    color:#333333;
    font-size: 5rem;
    display: inline;
}
#promo_slider > ul.slider li h2 hr{
    width: 22%;
    height: 4px;
    background-color:#000000;
    font-weight: 800;
    margin: 3rem 0;
}

#promo_slider > ul.slider li h3{
    position: absolute;
    color:#333333;
    font-size: 3.2rem;
    font-weight: 400;
    font-style: italic;
    padding: 1vh 0 1vh 7vw;
    top:45%;
    line-height: 4rem;
}

#promo_slider > ul.slider li h4{
    position: absolute;
    font-family: 'Quicksand', serif;;
    font-size: 3rem;
    font-weight: 550;
    top:78%;
    margin: 1vh 0 1vh 7vw;
    color:#abad80;
}

#promo_slider > ul.slider li img{
    position: absolute;
    bottom:0;
    right: 0;
    display:inline;
    width:50%;
    height:min-content;
    vertical-align: middle;
}

#promo_slider > ul.slider li:first-child{
    opacity: 1;
}

#promo_slider > ul.slider li:target{
    opacity: 1;
}

#promo_slider> ul.menu{
    position: absolute;
    left: 43%;
    top: 84%;
    height: 3rem;
    border: 0;
    width: 13%;
    margin: 0 auto;
    padding: 0%;
    list-style: none;
}
  
#promo_slider > .menu li {
    position: static;
    margin-left: 0rem;
    color:#666666;
    text-decoration: none;
  }

#promo_slider > .menu li a{
    font-size: 12rem;
    font-weight: 200;
    opacity: .5;
    cursor: pointer;
    color:#666666;
    text-decoration: none;
}

  /* fin slider */

/* comienzo de ubicación */

.ubicacion{
    margin: 5rem 0;
    margin-bottom: 0%;
    width: 100vw;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
}

.ubicacion .texto_ubicacion{
    width: 50vw;
    background-color: #e3e3cd;
    padding: 9vh 9vw;
    height: 800px;
}

.ubicacion .texto_ubicacion hr{
    width: 14%;
    height: 4px;
    background-color: #333333;
    font-weight: 800;
    margin: 1.2rem 0;
}
.ubicacion .texto_ubicacion h1{
    font-size: 5rem;
    color:#333333;
}

.ubicacion .texto_ubicacion h2{
    font-size: 3rem;
    color:#333333;
    font-weight: 400;
    padding-top: 4rem;
}

.ubicacion .mapa{
    max-height: 800px;
    max-width: 50vw;
    overflow: hidden;
}

.ubicacion .mapa iframe{
    max-height: 100%;
    max-width: 100%;
}

/* comienzo de footer */

/* boton de subir */

.btn-scrolltop {
    z-index: 100;
    position: fixed;
    bottom: 200px;
    right: 50px;
    padding: 23px 25px;
    background: rgb(71, 71, 71);
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: .7;
    transform: translateY(100px);
    transition: 0.3s;
  }

  .btn-scrolltop:hover{
    opacity: 1;
  }
  
  .btn-scrolltop-on {
    transform: translateY(0);
  }

/* fin boton de subir */

footer{
    margin: 0%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 100vw;
    height: 25rem;
    background-color:#666666
}

.iconos_redes{
    text-align: center;
    padding-bottom: 3rem ;
}
.iconos_redes a{
    padding: 0 2rem;
}

.iconos_redes a img{
    width:2.6rem
}

.iconos_redes a img:hover{
    opacity: .5;
    transition: .7s;
}

.texto_footer h4{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    color: #e3e3cd;
    line-height: 180%;
}

/* fin de footer */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* comienzo medias querys INDEX!!
el diseño esta hecho para 1920 x 1080*/

@media (max-width:1440px){
    .portada > .contenedor_img_portada{
        width: 90%;
        height: 75vh;
    }
    .contenedor_img_portada > .img_portada{
        width: 100%;
        min-height: 90%;
        min-width: 90%;
    }

    .portada > h3{
        font-size: 1.5rem;
        margin-top: 155px;
    }

    main .section_main h2{
        margin-right: 24rem;
    }

    #promo_slider{
        margin: 8rem auto;
    }

    .ubicacion .texto_ubicacion h1{
       font-size: 4.5rem;
    }

    .ubicacion .texto_ubicacion h2{
        font-size: 2.5rem;
     }
}

@media (max-width: 1366px) {

    .portada > h3{
        margin-top: 166px;
    }
    body > main > section:nth-child(1) > h2{
        margin-right: 23rem;
    }
    body > main > .mas_servicios{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    #promo_slider, #promo_slider > ul.slider, #promo_slider > ul.slider li{
        height: 42rem;
    }
    #promo_slider > ul.slider li img{
        height: max-content;
        width: max-content;
    }

    h1, #promo_slider > ul.slider li h2{
        font-size: 4rem;
        letter-spacing: .3rem;
    }
    #promo_slider > ul.slider li h3{
        font-size: 2.7rem;
    }
    #promo_slider > ul.slider li h4{
        font-size: 2.3rem;
    }
    
    .ubicacion{
        height: 600px;
    }
    .ubicacion .texto_ubicacion{
        height: 600px;
    }

    .ubicacion .texto_ubicacion h2{
        font-size: 2rem ;
    }
    .ubicacion .mapa{
        height: 600px;
    }
}

@media (max-width: 720px) {
    header{
        padding-top: 0%;
       width: 100%;
    }
    button.navbar-toggler{
        font-size: 2.1rem;
    }
    .container-fluid{
        width: 6rem;
        height: 6rem;
    }
    
    #logo-oculto{
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 6%;
    }
    nav.clasico{
        display: none;
    }
    .portada{
        max-width: 100%;
        max-height: 70%;
        margin: 0 auto;
        margin-top: 6%;
    }
    .portada > .contenedor_img_portada{
        background-color: none;
        width: 90%;
        height: 26rem;
        border: 17px solid #FFF;
    }
    .contenedor_img_portada > .img_portada{
        width: 100%;
    }
    .portada > h3{
        font-family: 'Prata', serif;
        text-align: center;
        color: #FFF;
        font-size: 5rem;
        letter-spacing: .3rem;
        font-weight: 100;
        line-height: 7rem;
        margin: 515px 80px 80px 80px;
    }

    .portada > h3 {
        animation-duration: 2s;
        animation-name: slidein;
      }
      
      @keyframes slidein {
        0% {
          opacity: 0;
        }
        100% {
            opacity: 1;
        }
      }

    main.contenedor_main{
        width: 100%;
        flex-wrap:wrap;
        padding-top: 49rem;
        margin-top: -12rem;
    }

    .contenedor_main > .section_main{
        width: 90%;
    }
    
    .contenedor_main > .section_main h2 {
        font-size: 2.2rem;
        margin-right: 108%;
    }
    body > main > section:nth-child(1) > h2{
        margin-right: 103%;
    }
    .contenedor_main > .section_main a{
        color: #e3e3cd;
        border: 2px solid #e3e3cd;
        padding: .2rem .9rem;
        margin-left: 19em;
        margin-top: -1.5em;
    }

    section.section_main a:hover{
        background-color:#e3e3cd;
        color: #333333;
        font-weight: bold;
        transition: .7s;
    }
    
    .mas_servicios{
        padding-top: 6em;
    }

    #promo_slider{
        margin: 6vh auto;
        width: 90%;
        height: 80rem;
    }

    #promo_slider ul{
        margin: 0px;
        width: 100%;
        height: 80rem;
    }
    
    #promo_slider > ul.slider li{
        width: 100%;
        height: 80rem;
    }
    #promo_slider > ul.slider li img{
        width: 100%;
        bottom: 0%;
        left: 0%;
    }
    
    #promo_slider > ul.slider li h2{
        left:9.5%;
        margin: 0 auto;
        padding: 11%;
        text-align: center;
        padding-top: 10%;
        font-size: 5rem;
    }
    #promo_slider > ul.slider li h2 hr{
        display:none
    }
    #promo_slider > ul.slider li h3{
        padding: 3%;
        text-align: center;
        font-size: 3rem;
        top:21%;
        right:32%;
    }
    #promo_slider > ul.slider li h4{
        top:38%;
        right:33%;
        padding: 4%;
        margin: 0;
        text-align: center;
        font-size: 3rem;
        color: #FFF;
        background-color: #abad80;
    }

    #promo_slider> ul.menu{
        margin-top: 13%;
        flex-wrap: nowrap;
    }
      
    #promo_slider > .menu li {
        position: static;
      }
    
    #promo_slider > .menu li a{
        font-size: 12rem;
        color:#666666;
        opacity: .9;
        font-weight: 500;
        cursor: pointer;
      }

    .ubicacion{
        width: 100%;
        height: 1200px;
        padding: 0%;
    }
   .texto_ubicacion{
        min-width: 100%;
        height: 600px;
    }

    .ubicacion .texto_ubicacion h1{
        font-size: 5rem ;
    }
    .ubicacion .texto_ubicacion hr{
        width: 13%;
        height: 3px;
        background-color: #666666;
        font-weight: 800;
        margin: 1.2rem 0;
    }

    .ubicacion .texto_ubicacion h2{
        font-size: 2rem ;
    }
    .ubicacion .mapa{
        min-width: 100vw;
    }
    .ubicacion .mapa iframe{
        min-width: 100vw;
        height: 600px;
    }

    footer .iconos_redes{
        justify-items: center;
    }
    
}

@media (max-width: 375px){
    header{
       min-width: 100vw;
    }
    #logo-oculto img{
        width: 100%;
    }
    .portada{
        max-width: 100%;
        max-height: 70%;
        margin-top: 6%;
    }
    .portada > .contenedor_img_portada{
        width: 100vw;
        height: 280px;
        border: none;
        overflow: hidden;
    }
    .contenedor_img_portada > .img_portada{
        width: 100%;
        min-height: 100%;
        min-height: 100%;
    }
    .portada > h3{
        font-size: 2.5rem;
        margin: 390px 80px 80px 80px;
        line-height: 3.5rem;
        letter-spacing: .3rem;
    }
    main.contenedor_main{
        width: 100%;
        padding-top: 30rem;
        /* height: 40rem; */
        margin-top: 0;
    }

    .contenedor_main > .section_main{
        width: 90%;
    }
    .contenedor_main > .section_main img{
        width: 100vw;
        height: 100vw;
    }
    
    .contenedor_main > .section_main h2 {
        font-size: 2rem;
        margin-right: 80%;
    }
    .contenedor_main > .section_main a{
        border: 1px solid #e3e3cd;
        padding: .001rem .7rem;
        margin-left: 7em;
        margin-top: -1.5em;
    }
    
    .mas_servicios{
        padding-top: 3rem;
    }
    
    .mas_servicios a{
        color: #e3e3cd;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.9rem;
    }

    #promo_slider{
        margin: 6vh auto;
        width: 90%;
        height: 46rem;
    }

    #promo_slider ul{
        margin: 0px;
        width: 100%;
        height: 46rem;
    }
    
    #promo_slider > ul.slider li{
        width: 100%;
        height: 46rem;
    }
    
    #promo_slider > ul.slider li h2{
        left:3.2%;
        font-size: 3rem;
    }
    #promo_slider > ul.slider li h3{
        font-size: 2rem;
        top:21%;
        right:23%;
        line-height: 2.8rem;
    }
    #promo_slider > ul.slider li h4{
        top:43%;
        right:33%;
        font-size: 1.7rem;
    }

    #promo_slider> ul.menu{
        margin-top: 18%;
        flex-wrap: nowrap;
        left: 9rem;
    }
      
    #promo_slider > .menu li {
        position: static;
    }
    
    #promo_slider > .menu li a{
        font-size: 6rem;
        color:#663366;
        opacity: .5;
    }

    #promo_slider > .menu li a:hover{
        opacity: .9;
        transition: .7s;
    }

    .ubicacion{
        width: 100%;
        height: 800px;
        padding: 0%;
    }
   .texto_ubicacion{
        min-width: 100%;
        max-height: 400px;
    }

    .ubicacion .texto_ubicacion h1{
        font-size: 3rem ;
    }
    .ubicacion .texto_ubicacion hr{
        width: 13%;
        height: 3px;
        background-color: #666666;
        font-weight: 800;
        margin: 1.2rem 0;
    }

    .ubicacion .texto_ubicacion h2{
        font-size: 1.5rem ;
        padding-top: 0;
    }
    .ubicacion .mapa{
        min-width: 100vw;
    }
    .ubicacion .mapa iframe{
        min-width: 100vw;
        height: 400px;
    }

    footer .iconos_redes{
        text-align: left;
        padding-bottom: 0;
        padding-top: 5rem;
    }
   
    .iconos_redes a{
        padding-left: 1.5rem;
        text-align: left;
    }
    
    .iconos_redes a img{
        width:2rem
    }
    
    .texto_footer h4{
        text-align: left;
        padding-left: 5%;
        padding-top: 5%;
        font-size: 1.2rem;
        font-weight: 300;
        color: #e3e3cd;
        line-height: 180%;
    }
}

@media (max-width: 360px){
    .portada > h3{
        font-size: 2.4rem;
        margin: 350px 60px 60px 60px;
        line-height: 3.5rem;
        letter-spacing: .3rem;        
    }
    main.contenedor_main{
        width: 100%;
        padding-top: 21rem;
        margin-top: 0;
    }
    .ubicacion .texto_ubicacion h1{
        font-size: 2rem ;
    }
    .ubicacion .texto_ubicacion h2{
        font-size: 1.2rem ;
    }
    .contenedor_main > .section_main h2 {
        font-size: 1.5rem;
        margin-right: 120%;
    }
    .contenedor_main > .section_main a{
        border: 1px solid #e3e3cd;
        padding: .001rem .5rem;
        font-size: 1.2rem;
        margin-left: 12em;
        margin-top: -1.9em;
    }
    .mas_servicios{
        padding-top: 3rem;
    }
    
    .mas_servicios a{
        color: #666666;
        background-color: #e3e3cd;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
    }
    .mas_servicios a:hover{
        color: #e3e3cd;
        background-color: #666666;
        font-family: 'Quicksand', sans-serif;
    }

    footer{
        height: 20rem;    
    }
    footer .iconos_redes{
        padding-top: 2rem;
    }
}


@media (max-width:412px) {
    body > header > nav.navbar.navbar-light.fixed-top{
        padding: 0%;
    }
    #logo-oculto {
        padding-top: 2rem;
        width: 100%;
    }
    #logo-oculto > a.logo-oculto > img{
        width: 70%;
    }
    
    .portada > .contenedor_img_portada {
        width: 100vw;
        border: none;

    }
    body > div.portada > h3{
        font-size: 2.7rem;
        line-height: 5rem;
    }
    .contenedor_img_portada> .img_portada{
        width: 100%;
    }
    body > main.contenedor_main{
        flex-wrap: wrap;
    }
    body > main.contenedor_main > .section_main{
        width: 100vw;
        position: relative;
    }
    body > main.contenedor_main > .section_main > h2{
        font-size: 1.8rem;
        position: absolute;
        left: 5%;
        bottom:7%;
        margin: 0%;
    }
    body > main.contenedor_main > .section_main >img{
        width: 100vw;
        height: fit-content;
    }
    body > main.contenedor_main > .section_main > a{
        margin: 0%;
        position: absolute;
        right: 5%;
        bottom:7%;
    }
    body > div.ubicacion > div.texto_ubicacion > h1{
        font-size: 2rem;
    }
    #promo_slider,ul.slider, li {
        height: 60rem;
    }
    #promo_slider > ul.slider > li > h2{
        font-size: 3rem;
        padding: 15%;
        padding-top: 25%;
        left: 0%;
    }
    #promo_slider > ul.slider > li > h3{
        font-size: 2.5rem;
        padding: 10%;
        top:16%;
        right: 0%;
        left: 0%;
    }
    #promo_slider > ul.slider > li > h4{
        font-size: 2.5rem;
        padding: 10%;
        top:35%;
        right: 0%;
        left: 0%;
    }
    body > footer > div.iconos_redes{
        padding: 3rem 2rem 2rem 0rem;
        text-align: left;
    }
    body > footer > div.iconos_redes a{
        padding:6%;
        text-align: left;
    }
    body > footer > div.texto_footer > h4{
        font-size: 1.6rem;
        text-align: left;
        padding-left: 2rem;
    }
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
 
/* comienzo página SERVICIOS */


section.destacado{
    max-width: 100vw;
    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    display: relative;
    margin-bottom: 3rem;
}
section.destacado .fondo{
    max-width: 100vw;
    display: absolute;
    background-position: top;
    width: 100vw;
    height: 483px;
    z-index: -10;
    background-color:#abad80;
}
.destacado .img_destacado{
    background: none;
    padding: 4rem 0 0 5rem;
    margin-top: -17%;
    display:absolute;
    z-index: 0;
    max-width: 50vw;
    top:0%;
    height: fit-content;
}
.destacado .img_destacado img{
    border: 20px solid #FFF;
    width: 50rem;
    top:0%;
}
.destacado .texto_destacado{
    background: none;
    z-index: 2;
    padding: 6rem 3rem 1rem 15rem;
    margin-top:-23%;
    max-width: 45vw;
}
.destacado .texto_destacado h1{
    font-size: 5rem;
    line-height: 9rem;
    color: #333333;
}
.destacado .texto_destacado hr{
    width: 15%;
    height: 4px;
    color: #1c1b1b;
    font-weight: 900;
    margin: 1.2rem 0;
}
.destacado .texto_destacado p{
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 5rem;
}
section.servicios{
    margin: 5rem 0 3rem 0;
}
section.servicios, .servicios_titulos{
    width: 100vw;

}
.servicios_titulos, .servicios_titulos ul{
    height: 5%;
    width:fit-content;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.servicios_titulos ul{
    display:flex;
    margin: auto;
    padding: 0 1rem; 
}

section.servicios .servicios_titulos ul li {
    list-style: none;
    padding: 0 1rem;
    position: relative;
}

.servicios_titulos ul li::before {
    content: "";
    height: 2px;
    width: 0%;
    background: #663366;
    position: absolute;
    bottom: -10px;
    transition: 0.4s ease-out;
}
.servicios_titulos ul li:hover::before{
    width: 84%;
}

section.servicios .servicios_titulos ul li a{
    font-size: 2rem;
    font-weight: 500;
    color:#666666;
    text-decoration: none;
    cursor: pointer;
}
section.servicios .servicios_titulos ul li a:hover, .detalle img:hover{
    opacity: .7;
    transition: .3s;
    scroll-behavior: smooth;
}

section.servicios .servicios_detalle{
    width: 100vw;
    height: 40rem;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3.5rem auto;
}
.servicios_detalle .detalle{
    width: 34rem;
    height: 35.4rem;
    margin: 0 1rem;
    outline: .1rem solid #666666 ;
}
.servicios_detalle .detalle img{
    width: 34rem;
    z-index: -1;
} 
.servicios_detalle .detalle h4{
    font-weight: 500;
    line-height: 3rem;
    font-size: 2rem;
    padding-top: 3rem;
}

/* COMIENZO DE MEDIAS QUERY SERVICIOS*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width:1440px){
    header > nav.navbar.navbar-light.fixed-top{
        display:none;
    }
    header > nav.clasico{
        margin: 0 auto;
    }
    nav.clasico li a{
        font-size: 1.5rem;
    }
    section.destacado .fondo{
        height: 400px;
    }
    .destacado .img_destacado{
        height: fit-content;
        margin-top:-15%;
    }
    .destacado .img_destacado img{
        border: 20px solid #FFF;
        width: 37rem;
    } 
    .destacado .texto_destacado{
        padding: 3rem 4rem 1rem 8rem;
        margin-top:-25%;
    }
    .destacado .texto_destacado h1{
        font-size: 4.4rem;
        line-height: 8rem;
        color: #333333;
    }
    .destacado .texto_destacado hr{
        margin: .8rem 0;
    }
    .destacado .texto_destacado p{
        padding-top: 2.5rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 4rem;
        color:#666666
    }
    section.servicios .servicios_detalle{
        height: fit-content;
        margin: 3.5rem auto;
    }
    .servicios_detalle .detalle{
        width: 24rem;
        height: fit-content;
        margin: 0 1rem;
    }
    .servicios_detalle .detalle img{
        width: 23.7rem;
    } 
    .servicios_detalle .detalle h4{
        margin-bottom: 2rem;
    }
   
}
@media (max-width:1366px){
    header > nav.clasico{
        max-width: 80vw;
    }
    section.destacado .fondo{
        height: 360px;
    }
    .destacado .img_destacado img{
        border: 20px solid #FFF;
        width: 35rem;
    } 
    .destacado .texto_destacado{
        padding: 3rem 4rem 1rem 8rem;
        margin-top:-25%;
    }
}


@media (max-width:720px){
    header > nav.clasico{
        display: none;
    }
    header > nav.navbar.navbar-light.fixed-top{
        display:block;
        width: fit-content;
        padding-top: 3%;
        padding-left: 3%;
    }
    #offcanvasNavbar > div.offcanvas-body > ul > li > a, #offcanvasNavbar > div.offcanvas-header > button{
        font-size: 1.8rem;
    }
    section.destacado > div.fondo{
        z-index: -2;
    }
    section.destacado{
        flex-wrap: wrap;
    } 
    section.destacado > div.texto_destacado{
        margin: 0 auto;
        max-width: 90vw;
        padding: 0%;
    }
    .destacado .texto_destacado h1{
        font-size: 3.2rem;
        line-height: 7rem;
        text-align: center;
        margin-top: -16rem;
    }
    .destacado .texto_destacado h1 br{
        display:none;
    }
    .destacado .texto_destacado hr{
        text-align: center;
        margin: 0 auto;
    }
    .destacado .texto_destacado p{
        padding: 50rem 5rem 2rem 5rem;
        font-size: 2rem;
        font-weight: 300;
        line-height: 4rem;
        color:#666666
    }
    
    .destacado .img_destacado{
        max-width: fit-content;
        margin: auto;
        margin-top: -86rem;
        padding: 0%;
        z-index: -1;
    }
    
    body > section.servicios > .servicios_detalle{
        flex-wrap: wrap;
        width: 100vw;
    }
    section.servicios .detalle{
        width: 67.8vw;
        margin-bottom: 3rem;
        
    }
    section.servicios .detalle img{
        width: 67vw;
        
    }
    
}

@media (max-width:375px){
    body > header > nav.navbar.navbar-light.fixed-top{
        padding-top: 1.5%;
        padding-left: 1.5%;
    }
    body > header > nav.navbar.navbar-light.fixed-top > div{
        width: 1.5rem;
        height: 1.5rem;
    }
    body > header > nav.navbar.navbar-light.fixed-top > div > button{
        width: fit-content;
        height:fit-content;
    }
    nav.navbar.navbar-light.fixed-top > div > button > span{
        background-size: 50%;
    }
    #logo-oculto > a > img{
        width: 75%;
    }
    section.destacado > div.fondo{
        height: 200px;
    }
    section.destacado > div.texto_destacado > h1{
        font-size: 2rem;
        line-height: 2.7rem;
        margin-top: -10rem;
    }
    section.destacado > div.texto_destacado > p{
        padding: 29rem 2rem 2rem 2rem;
        font-size: 1.5rem;
        line-height: 3rem
    }
    .destacado .img_destacado{
        margin-top: -70rem;
    }
    .destacado .img_destacado img{
        border: 10px solid #FFF;
        width: 90vw;
    }
    section.servicios > .servicios_titulos{
        background-color: #e3e3cd;  
    }
    section.servicios > .servicios_titulos > ul > li {
        padding: 0 0.4rem;
    }
    section.servicios > .servicios_titulos > ul > li > a{
        font-size: 1.2rem;
    }
    section.servicios .detalle{
        outline:none;
        width: 100vw;
        margin-bottom: 0;
    }
    section.servicios .detalle img{
        width: 100vw; 
    }
    section.servicios .detalle h4{
       font-size: 1.5rem;
       padding-top: 2rem;
        
    }  
}

@media (max-width:360px){
    body > header > nav.navbar.navbar-light.fixed-top > div > button{
        width: 3rem;
        height: 3rem;
    }
    header > nav.navbar.navbar-light.fixed-top > div > button > span{
        margin-left: -1rem;
        margin-bottom: 3rem;
    }
    section.servicios .servicios_detalle{
        margin-bottom: 0%;
    }
    section.servicios .detalle{
        border:none;
        width: 100vw;
        margin-bottom: 1rem;
    }
    section.servicios > div:nth-child(4) > div:nth-child(3) > h4{
        margin-bottom: 0%;
    }
    footer > div.iconos_redes a{
        padding: 0 1.2rem;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* comienzo pagina CONTACTO */

.contenedor_contacto{
    width: 100vw;
    height: max-content;
    display: flex;
    padding: 4.5rem 5rem 8rem 5rem ;
    margin: 4.5rem auto;
    margin-bottom: 0rem;
    align-items: center;
    background: url(/img/fondo_contac.jpg) no-repeat;    
}
.texto_contacto{
    width:90vw;
    height: max-content;
    background-color: #e3e3cd;
    margin: 2rem 5rem 2rem 0;
    padding: 7rem 3rem 4rem 3rem;
    text-align: center;
    vertical-align: middle;
    box-shadow:  5px 5px 5px 3px rgba(0, 0, 0, 0.1);
}
.texto_contacto h1{
    font-size: 5rem;
    color: #333333;
    margin: -15rem 0 7rem 0;
} 
.texto_contacto h3{
    color: #333333;
    margin: 1.5rem 0 3.8rem 0;
    font-size: 2rem;
}
body > div > div.texto_contacto > h3:nth-child(2){
    line-height: 3.5rem;
}

.texto_contacto > h3:nth-child(5) > a{
    text-decoration: none;
    color: #333333;
}
.formulario{
    padding: 3.5rem 1.8rem;
    width:110vw;
    height: max-content;
    border:2px solid #ffffff;
    margin: 0 3rem 3 1.3rem;
    box-shadow:  5px 5px 5px 3px rgba(0, 0, 0, 0.1);
}

#form > div{
    width: 90%;
    margin: 0 auto;
}
/* 
#form > div> label{
    text-align:left;
    font-size: 2rem;
    font-family:'Quicksand', sans-serif;
    color:#666666;
    padding-top: 1rem;
} */

#form > div> input{
    width: 100%;
    margin: 1.6rem auto;
    height: 4.5rem;
    outline: none;
    border: none;
    font-size: 2rem;
    font-family:'Quicksand', sans-serif;
    color:#abad80;
    padding-left: 1.5rem;
    box-shadow:  5px 5px 5px 3px rgba(0, 0, 0, 0.1);
}

#form > div> input:hover{
    outline: .8px solid #333333;
    transition: .5s;
    scroll-behavior: smooth;
    outline: none;
    border: none;
}

#form > div> input:active, #form > div> input:focus {
    outline: .8px solid #333333;
}

#form > div> textarea{
    width: 100%;
    text-align: left;
    height: 9rem;
    margin: 1.6rem auto;
    margin-bottom: 0%;
    outline: .8px solid #666666;
    font-size: 2rem;
    font-family:'Quicksand', sans-serif;
    color:#666666a6;
    padding-left: 1.5rem;
    outline: none;
    border: none;
}
#form div.form-boton{
    padding-top: 1rem;
}

#form div.form-boton input{
    width: 100%;
    height: 4.2rem;
    font-family:'Quicksand', sans-serif;
    background-color:#abad80;
    font-size: 2rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #333333;
}
#form div.form-boton input:hover{
    background-color: #666666;
    color: #e3e3cd;
}
#form > div.form-boton > input[type=submit]{
    outline: none;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* comienzo media querys CONTACTO */

@media (max-width:1440px){
    .contenedor_contacto{
        margin-top: 0%;
    }
}


@media (max-width:1366px){
    .formulario{
        padding-bottom: 3rem;
    }
    .texto_contacto h1{
        font-size: 3.2rem;
        letter-spacing: .1rem;
        margin: -13rem 0 7rem 0;
    }
    .texto_contacto h3{
        font-size: 1.5rem;
    }
    body > div > div.texto_contacto > img{
        width: 7%;
    }
    #form > div> input{
        height: 3.2rem;
        font-size: 1.3rem;
        margin: 1rem auto;
    }
    #form > div> textarea{
        height: 7rem;
        font-size: 1.3rem;
    }
    #form div.form-boton input{
        font-size: 1.3rem;
        height: 3.2rem;
    }
}


@media (max-width:720px){
    #logo-oculto > a > img{
        width: 50%;
    }
    .contenedor_contacto{
        width: 100%;
        background-image: none;
        flex-wrap: wrap;
        margin: 3rem 0 0 0;
        padding: 4.5rem 0 0 0;
        justify-content: center;
    }
    .texto_contacto{
        box-shadow: none;
        width: 100vw;
        margin: 3rem 0 0 0 ;
    }
    .formulario{
        width: 100vw;
        margin: 0;
        border:none;
        background: no-repeat center  url(/img/fondo_contac.jpg); 
    }
 
}


@media (max-width:375px){
    #logo-oculto > a > img{
        width: 70%;
    }

    body > header > nav.navbar.navbar-light.fixed-top > div > button{
        padding: 0%;
    }
    body > div.contenedor_contacto{
        margin-bottom: 0%;
    }
    
    div.texto_contacto{
        margin: 0%;
        padding: 3rem;
    }

    .texto_contacto h1{
        font-size: 2.5rem;
        letter-spacing: .1rem;
        margin: -7rem 0 5rem 0;
    }

    .texto_contacto h3{
        font-size: 1.3rem;
        padding: 0%;
        margin: 2rem 0 2rem 0;
        line-height: -4rem;
    }
    body > div > div.texto_contacto > img{
        width: 9%;
    }
    .formulario{
        padding: 2rem;
    }
    #form > div > input{
        height: 2.3rem;
        font-size: 1.1rem;
        margin: .5rem auto;
    }
    #form > div.form-boton{
        padding: 0;
    }
    #form div.form-boton input{
        font-size:1.1rem;
        font-weight: 400;
        height: 2.3rem;
        padding: 0%;
        margin: .5rem auto;
    }
    #form > div> textarea{
        font-size:1.1rem;
        margin: .5rem auto;
    }
    #form > .form-input comentario{
        height: 7rem;
    }

    footer{
        height: 30%;
    }
    footer > div.iconos_redes{
        padding-top: 2rem;
    }
    footer > div.iconos_redes a{
        padding: 0 1.2rem;
    }
    footer> .texto_footer h4{
        margin-bottom: -10%;
    }
}

@media (max-width:360px){
    body > header > nav.navbar.navbar-light.fixed-top > div > button > span{
        margin: 0;
        margin-left: -.1rem;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* comienzo pagina NOSOTROS */

article.nosotros{
    max-width: 100vw;
    display: flex;
    display: relative;
    flex-wrap: wrap;
    margin-bottom: 7rem;
}
article.nosotros .fondo{
    max-width: 100%;
    display: absolute;
    background-position: top;
    width: 100vw;
    height: 380px;
    z-index: -10;
    background-color:#e3e3cd;
}
article.nosotros .cuerpo-nosotros{
    display:flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 50vw;
    padding: 0 6.5rem 3rem 12rem;
    height: max-content;
}
article.nosotros .cuerpo-nosotros h1{
    font-size: 5rem;
    text-align: left;
    z-index: -9;
    display: absolute;
    margin-top: -10rem;
}
article.nosotros .cuerpo-nosotros h1 hr{
    width: 25%;
    height: 2px;
    background-color: #000000;
    font-weight: 800;
    margin: 1.2rem 0;
    text-align: left;
    z-index: -9;
}

article.nosotros .cuerpo-nosotros p{
    width: 100vw;
    height: max-content;
    font-size: 2.5rem;
    line-height: 5rem;
    padding-top: 3rem;
}
article.nosotros .nosotros_img{
    width:40%;
    padding-left: 4rem;
    margin-top: -5rem;
}
article.nosotros .nosotros_img img{
    width: 50rem;
    height: max-content;
    outline: 20px solid #FFF ;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* comienzo medias querys NOSOTROS*/

@media (max-width:1440px){
    article.nosotros .fondo{
        height: 350px;
    }
    article.nosotros .cuerpo-nosotros{
        padding: 0 5rem 3rem 8rem;
    }
    article.nosotros .cuerpo-nosotros h1{
        font-size: 4rem;
    }
    article.nosotros .cuerpo-nosotros p{
        width: 100vw;
        font-size: 1.9rem;
        line-height: 4rem;
    }
    article.nosotros .nosotros_img{
        padding-left: 2rem;
    }
    article.nosotros .nosotros_img img{
        width: 38rem;
    }
}

@media (max-width:1366px){
    article.nosotros .cuerpo-nosotros{
        padding: 0 1rem 3rem 8rem;
    }
    article.nosotros .cuerpo-nosotros p{
        width: 100vw;
        font-size: 1.7rem;
        line-height: 3.5rem;
    }
    article.nosotros .nosotros_img{
        padding-left: 5rem;
    }
    article.nosotros .nosotros_img img{
        width: 30rem;
    }
}

@media (max-width:720px){
    article.nosotros{
        flex-wrap: wrap;
    }
    article.nosotros .cuerpo-nosotros{
        width: 90vw;
        padding: 0%;
        margin: 0 auto;
    }
    article.nosotros .cuerpo-nosotros h1{
        font-size: 4rem;
        padding:0 3.6rem;
        margin: 0% auto;
        margin-top: -14rem;
        text-align: center;
    }
    article.nosotros .cuerpo-nosotros h1 hr{
        width: 25%;
        height: 2px;
        background-color: #000000;
        font-weight: 800;
        margin: 1.2rem auto;
        text-align: center;
        z-index: -9;
    }
    article.nosotros .cuerpo-nosotros p{
        width: 100vw;
        padding:0 3.6rem ;
        font-size: 1.9rem;
        line-height: 4rem;
        margin-top: 50rem;
    }
    article.nosotros .nosotros_img{
        width: 90vw;
        margin: 0 auto;
        margin-top: -104rem;
        padding: 0%;
        text-align: center;
    }
    article.nosotros .nosotros_img img{
        width: 33rem;
    }
}

@media (max-width:375px){
    article.nosotros .fondo{
        height: 220px;
    }
    article.nosotros .cuerpo-nosotros h1{
        font-size: 2.4rem;
        margin-top: -9rem;
        letter-spacing: .3rem;
    }
    article.nosotros .cuerpo-nosotros p{
        font-size: 1.2rem;
        line-height: 2.5rem;
        padding: 0 2.6rem;
        margin-top: 30rem;
    }
    article.nosotros .nosotros_img{
        width: 90vw;
        margin: 0 auto;
        margin-top: -71rem;
        padding: 0%;
        text-align: center;
    }
    article.nosotros .nosotros_img img{
        width: 20rem;
        outline: 10px solid #FFF ;
    }
}
@media (max-width:360px){
    
    article.nosotros .cuerpo-nosotros h1{
        font-size: 2.2rem;
        margin-top: -9rem;
        letter-spacing: .2rem;
    }
    article.nosotros .cuerpo-nosotros p{
        font-size: 1.1rem;
        line-height: 2.2rem;
        padding: 0 2rem;
        margin-top: 38rem;
    }
    article.nosotros .nosotros_img{
        width: 100vw;
        margin-top: -68rem;
    }
    article.nosotros .nosotros_img img{
        width: 100vw;
        outline: none;
    }
}


/* 360×640 (móvil pequeño): 22,64%.
1366×768 (ordenador portátil medio): 11,98%.
1920×1080 (escritorio grande): 7,35%.
375×667 (móvil medio): 5%.
1440×900 (escritorio medio): 3,17%.
720×1280 (móvil grande): 2,74%. 
1080 x 2400 (móvil mio full HD)*/
